html, body {
    width: 100%;
    height: 100%;
    font-family: 'Lato', 'Roboto', sans-serif, Arial, Helvetica, sans-serif;   
    color: #000000;  
    padding: 0px;
    /* overflow-x: hidden; */
    scroll-behavior: smooth;

}

.main_title {
    font-size: 72px;
}

#home {
    margin: 200px 50px;
}

#about img {
    /* padding: 25px; */
    /* padding-left: 25px; */ 
    width: 80%;
}

/* * {
    font-family: 'Lato', 'Roboto', sans-serif, Arial, Helvetica, sans-serif;
} */

.navbar {
    background-color: #ffffff;
    padding: 1rem;
}

.navbar .navbar-nav li {
    padding-right: 15px;
}

.nav-link {
    font-size: 1em;
}

.navbar .navbar-nav li a:hover{
    background-color: #ffffff;
    color: rgb(0, 146, 0);
}

.navbar a {
    color: black;
    display: block;
    /* text-align: center; */
    /* padding: 14px 16px; */
}

/* .navbar-toggler-icon {
    color: #000000;
    background-color: green !important;
} */

/* .about{
    font-size: 50px;
    font-weight: 700;
} */

.padding {
    padding-bottom: 5rem;
    margin: 0rem 2rem;
}

.home {
    padding: 20rem 0rem;
}

.home h1 {
    font-size: 500%;
    /* position: absolute;
    top: 50%;
    transform: translateY(-50%); */
}

.bio {
    /* width: 40%; */
    /* margin: 0 auto; */
}

header {
    background-color: #ffffff;
    text-align: center;
    justify-content: center;
    /* background-image: url(./images/Tree_1.svg); */
    /* padding: 20px; */
}
  
h1, h2, h3, h4, h5, h6 {
    color: #000;
    font-weight: 400;
    /* margin: 0px 30px;  */
}

p {
    color: #000;
    /* font-weight: 400; */
    /* margin-bottom: 1.5em; 
    padding-right: 25px; */
    font-size: 18px;    
}

footer {
    background-color: #ffffff;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 35px;
    font-size: 23px;
}

footer a {
    color:#2b2b2b;
    margin: 0px 5px;
}

footer a:hover {
    color:rgba(0, 0, 255, 0.788);
    /* margin: 0px 5px; */
}

.footer_text {
    text-align: center;
}

.glyphicon {
    font-size: 18px;
}

.row {
    /* margin: 6% 0%; */
    /* margin-top: 6%;
    margin-bottom: 10%; */
}

.center-img {
    text-align: center;
}

svg {
    opacity: 1;
    /* position: relative; */
    /* display: block; */
    /* width: 100%; */
    /* height: auto; */
    transition: .5s ease;
    backface-visibility: hidden;
  }

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.block {
    position: relative;
    justify-content: center;
    /* margin: 25px; */
    /* margin: auto; */
    /* width: 878px;
    height: 517px; */
    /* border: 1px solid black; */
    /* padding:1em; */
}
.overlay {
    background: rgba(0,0,0,0.5);
    opacity: 0;
    position: absolute;
    justify-content: center;
    top:0px;
    /* left:0; */
    width:100%;
    height:100%;
    transition:opacity 0.5s ease;
}

.block:hover .overlay {
    opacity:1;
}
  /* ^^^ */

hr {
    border-top: 2px solid #2b2b2b;
    width: 100%;
    margin-top: .3rem;
    margin-bottom: 1rem;
}

.fab {

}

.fas {
    
}